{{ if .Site.Params.comments.staticman }}
{{ $postSlug := .RelPermalink }}

<section class="staticman-comments post-comments">
  <h3>Comments</h3>

  {{ with .Resources.Match "comments/*.yml" }}
	  {{ range . }}
    {{ printf $postSlug }}
    {{ $comment := .Content | transform.Unmarshal }}
    	{{ with $comment }}
	 		  <div id="commentid-{{ ._id }}" class="post-comment">
          <div class="post-comment-header">
            <img class="post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon">
              <p class="post-comment-info">
                <span class="post-comment-name">{{ .name }}</span>
                <br>
                <a href="#commentid-{{ ._id }}" title="Permalink to this comment">
                  <time class="post-time">{{ dateFormat "Monday, Jan 2, 2006 at 15:04 MST" .date }}</time>
                </a>
              </p>
          </div>
          {{ .comment | markdownify }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
  
  <h3>Say something</h3>
  Your email is only used for <a href="https://gravatar.com" target="_blank">Gravatar</a> images.

  <form class="post-new-comment" method="post" action="{{ .Site.Params.comments.staticman.endpoint }}/{{ .Site.Params.comments.staticman.username }}/{{ .Site.Params.comments.staticman.repository }}/{{ .Site.Params.comments.staticman.branch }}/{{ .Site.Params.comments.staticman.property }}">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[slug]" value="{{ $postSlug }}">

    <fieldset>
      <input type="text" name="fields[name]" class="post-comment-field" placeholder="Name *" required/>
    </fieldset>

    <fieldset>
      <input type="email" name="fields[email]" class="post-comment-field" placeholder="Email address (will not be public) *" required/>
    </fieldset>

    <fieldset>
      <input type="address" name="fields[botpot]" placeholder="botpot (do not fill!)" style="display: none">
    </fieldset>

    <fieldset>
      <textarea name="fields[comment]" class="post-comment-field" placeholder="Comment (markdown is accepted) *" required rows="10"></textarea>
    </fieldset>

    <fieldset>
      <input type="hidden" name="options[reCaptcha][siteKey]" value="6LfOF3wUAAAAAO7kjuxFtET8ljlJj3ngD72ueHBa">
      <input type="hidden" name="options[reCaptcha][secret]" value="wsnytlzGgqB7d8kIHU7NbxUFdL2jYFcF3zfgSE/j0EXKkii8cefvtgTYCevd76KVPym4Rx2dLudy/AXPuI4UTmtKI3t6LV3N5ZHUqQd0zdeD1Gnxa2a84soibBclulOTYXW1GtTLebJ3su3zPf6R8c9KEtQotWeAu96jWo7w2XG3Y9RaaR2Rl0gzK08AVvNqiQWhj3UIG8Q4zP3MXF6sfeI+VNlh+/9nnHf7BMuqcPdD847X6KGgBzaNzBKXqAw8QUwTS7bnd7blfzlLsGHeObbt1AmLARjxin8HffickH2gBkxMaRp9YVfM8z96aOFP8r/3MdAOHipf5n/C2NirPQ==">
      <div class="g-recaptcha" data-sitekey="6LfOF3wUAAAAAO7kjuxFtET8ljlJj3ngD72ueHBa"></div>
      <script src='https://www.google.com/recaptcha/api.js'></script>
    </fieldset>
  
    <input type="submit" class="post-comment-field btn btn-primary comment-buttons" value="Submit">
  </form>
</section>
  
<div id="comment-submitted" class="dialog">
  <h3>Thank you</h3>
  <p>Your comment has been submitted and will be published once it has been approved.</p>
  <p><a href="https://github.com/{{ .Site.Params.comments.staticman.username }}/{{ .Site.Params.comments.staticman.repository }}/pulls">Click here</a> to see the pull request you generated.</p>
  <p><a href="#" class="btn btn-primary comment-buttons ok">OK</a></p>
</div>
{{ end }}
